{% extends 'base.html.twig' %}

{% block title %}
Editer
{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Editer une playliste</h1>
        <br>

        {{ form_start(form) }}
        {{ include('playlist/_form.html.twig') }}
        <button type="submit" class="btn btn-primary">Editer</button>
        {{ form_end(form) }}

    </div>
    <!-- /.container-fluid -->

{% endblock %}

