Bonjour {{ username }} vous avez fait une demande pour récupérer votre mot de passe

Veuillez cliquer ici pour récupérer votre mot de passe
<br>
<a href="{{ host_front }}mon-compte/mot-de-de-passe-oublier/verification/{{ token }}">
    Recupérer votre mot de passe
</a>